.settings {
    width: 480px;
    position: absolute;
    top: 40px;
    right:-480px;
    bottom: 0;
    padding: 30px;
    z-index: 100;
    background-color: rgb(1, 43, 44);
    transition: all .4s ease-in;

    &.active {
        right:0; 
    }

    .select {
        max-width: 400px;
        width: 100%;
        margin: 0 auto 20px;
    
        select {
            width: 400px;
            padding: 7px;
            margin: 0;
            font-size: 1.1em;
            border-radius: 4px;
            background: rgb(248, 248, 248);
            color: rgb(28, 55, 79);
            border: none;
            outline: none;
            display: block;
            cursor: pointer;
        }
    }

    .video-settings, .audio-settings{
        margin: 0 10px;
    }
    
    .audio-settings {
        margin-bottom: 30px;   
    }
    
    .invisible {
        height: 0 !important;
        visibility: hidden;
        display: none;
    }
    
    label {
        display: block;
        font-size: 1em;
        line-height: 1em;
        color: rgb(255, 255, 255);
        font-weight: 700;
        margin-bottom: 10px;
    }
}