
.list-media {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    video {
        width: 200px;
        height: auto;
        margin-bottom: 10px;
    }

    audio { 
        margin-top: 0;     
        margin-bottom: 10px;
    }

}

.list-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item {
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid rgb(2, 139, 93);
}

.btn-delete {
    position: absolute;
    top: 10px;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 0, 0);
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    font-size: 1.2em;

    &:hover {
        opacity: 0.6;
    }
}